body {
    width: 300px;
    height: 400px;
    direction: rtl;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 14pt ;
}

button, input {
    font: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul#openings_list li {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

ul#openings_list li ul.dates_list li {
    padding: 10px 0 0;
    border: 0;
}

ul#openings_list li ul.dates_list li ul.times_list {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

ul#openings_list li ul.dates_list li ul.times_list li {
    padding: 3px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 10pt;
    margin-left: 4px;
}
